@import "src/services/config/colors";
@import "src/services/config/breakpoints";

.boardContainer {
  width: 100%;
  padding-top: 100%;
  background-color: blue;
  position: relative;
}

.boardSquare {
  width: 12.5%;
  height: 12.5%;

}